extends layout

block content
  - var action = '/contacts'
  - action += contact.isNew? '' : '/' + contact.twitterUsername
  
  br
  form(role='form', method='post', action=action)
    input(type="hidden", name="_csrf", value="#{csrf_token}")
    input(type="hidden", name="profileImageUrl", value="#{contact.profileImageUrl}")    
    
    - if (!contact.isNew)
      input(type="hidden", name="_method", value="PUT")
          
    fieldset
      legend Editing "
        span.text-info #{contact.name}
        | "
      
      div.form-group
        label(for='name') Name
        input.form-control#name(name='name', value=contact.name)
        
      div.form-group
        label(for='twitterUsername') Twitter Username
        div.input-group
          span.input-group-addon @      
          input.form-control#twitterUsername(name='twitterUsername', value=contact.twitterUsername, readonly)
      
      div.form-group
        label(for='email') Email
        div.input-group
          span.input-group-addon 
            span.fa.fa-envelope      
          input.form-control#email(name='email', value=contact.email)
      
      div.form-group
        label(for='memo') Memo
        textarea.form-control#memo(name='memo') #{contact.memo}

      div.form-group
        label(for='connectionLocation[name]') Location (where you met)
        input.form-control#connectionLocationName(name='connectionLocation[name]', value=contact.connectionLocation.name)

      div.form-group
        input#lat(type='hidden', name='connectionLocation[lat]', value=contact.connectionLocation.lat)
        input#lng(type='hidden', name='connectionLocation[lng]', value=contact.connectionLocation.lng)
        a.btn.btn-danger#location
          span.glyphicon.glyphicon-map-marker
          span#inner(style='padding-left: 0.5em') 
            if ( contact.connectionLocation.lat  && contact.connectionLocation.lng)
              | Update coordinates
            else
              | Detect coordinates

      div.form-group
        label(for='tags') Tags (comma separated)
        input.form-control#tags(data-role='tagsinput', name='tags', value=contact.tags)      
      
      br   
      
      div.form-group
        a.btn.btn-default(href='/') Cancel
        | &nbsp; &nbsp;
        button.btn.btn-primary(type='submit') Submit
  
  script.
    var gotGPS = false;
    $('a#location').click(function() {
      if(!gotGPS){
        if (navigator.geolocation){
          navigator.geolocation.getCurrentPosition(function (position){
            $('a#location').removeClass('btn-danger').addClass('btn-success');
            $('span#inner').html('Location Saved');            
            $('input#lat').val(position.coords.latitude);
            $('input#lng').val(position.coords.longitude);
            gotGPS = true;
          }, function(error){
            $('span#inner').html('Unable to detect location');
          });
        } else {
          $('span#inner').html('Unable to detect location');
        }
      }
    });
