extends layout

block content
  if(contacts.length)
    h3 My Contacts
    each contact in contacts
      hr
      div.row
        div.col-md-1.col-xs-2        
          a(href="/contacts/#{contact.twitterUsername}")
            if(contact.profileImageUrl)
              img(src='#{contact.profileImageUrl}')
            else
              img(src='/img/default_profile.png')
              
        div.col-md-9.col-xs-5.text-left
          strong #{contact.name}
          br
          | #{contact.twitterUsername}
        div.col-md-1.col-xs-2
          a.btn.btn-primary(href='/followups/#{contact.twitterUsername}') 
            span.glyphicon.glyphicon-list
        div.col-md-1.col-xs-2
          a.btn.btn-primary(href='http://twitter.com/#{contact.twitterUsername}', target='_BLANK') 
            span.fa.fa-twitter        

  else
    h3 No contacts found
    p.text-info Get out there and make some connections!

  br        
  ul.pager
    li.previous 
      a(href="/") &larr; &nbsp; Go Home &nbsp;
        span.glyphicon.glyphicon-home       