extends layout

block content
  h2 #{contact.name}
  div.row
    div.col-md-1.col-xs-2
      img(src='#{contact.profileImageUrl}')
    div.col-md-9.col-xs-5.text-left
      a.btn.btn-primary(href='http://twitter.com/#{contact.twitterUsername}', target='_BLANK')         
        strong #{contact.twitterUsername} &nbsp;
        span.fa.fa-twitter
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='#') 
        span.glyphicon.glyphicon-list
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='/contacts/#{contact.twitterUsername}/edit') 
        span.glyphicon.glyphicon-edit     
  hr 
  if(contact.memo)
    p!=  contact.memo.replace(/</g, "&lt;").replace(/>/g, '&gt;').replace(/\n/g, '<br />')
  else
    p You have no notes on this person
  hr           
  div
    if(contact.tags)
      each tag in contact.tags.split(',')
        span.label.label-info #{tag}
        | &nbsp;

  br
  p.text-primary Added #{ago}
  br        
  - var action = '/contacts/' + contact.twitterUsername
  form.text-center.form-inline.confirm(action=action, method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    input(type="hidden", name="_method", value="DELETE")
    button.btn.btn-danger(type="submit") Delete Contact
  br      
  ul.pager
    li.previous 
      a(href="/contacts") &larr; &nbsp; Back to Contacts &nbsp;
        span.fa.fa-users 

  script
    mixpanel.track("contact");
