extends layout

block content
  if(followups.length)
    h3 Follow-ups
    if(showComplete)
       a(href="#{pageUrl}?page=#{page}&perPage=#{perPage}&showComplete=false") [-] Hide complete
    else
      a(href="#{pageUrl}?page=#{page}&perPage=#{perPage}&showComplete=true") [+] Show complete    
  each followup in followups
    hr
    div.row
      div.col-md-1.col-xs-2
        span.text-primary
          strong #{moment(followup.dueDate).format("MMM D")}
      div.col-md-1.col-xs-2
        a(href='/contacts/#{followup.contactUsername}')
          img(src='#{followup.contactProfileImageUrl}')
      div.col-md-9.col-xs-5.text-left 
         p!= followup.description.substr(0, 50) 
         a(href='/followups/#{followup.id}') [ edit / more ]
      div.col-md-1.col-xs-2
        if(followup.isComplete)
          button.btn.btn-primary.follow-up-unclear
            input(type='hidden', name='followup-id', value='#{followup.id}')
            span.fa.fa-check-square-o            
        else
          button.btn.btn-primary.follow-up-clear
            input(type='hidden', name='followup-id', value='#{followup.id}') 
            span.glyphicon.glyphicon-unchecked                  
  else
    h3 No follow-ups found
    p.text-info Talk to your peeps and make plans!
    
  br
  ul.pager
    if(page > 1)
      li
        a(href="#{pageUrl}?page=#{page-1}&perPage=#{perPage}&showComplete=#{showComplete}") Previous
    if(page < pages)
      li
        a(href="#{pageUrl}?page=#{page+1}&perPage=#{perPage}&showComplete=#{showComplete}") Next            
  ul.pager
    li.previous 
      a(href="/") &larr; &nbsp; Go Home &nbsp;
        span.glyphicon.glyphicon-home       

  script.
    mixpanel.track("followup_list");
    
  script(src='/javascripts/followup-clear.js', type='text/javascript')
