extends layout

block content
  h2 Due: 
    span.text-info #{moment(followup.dueDate).format("MMM D")}
  div.row
    div.col-md-1.col-xs-2
      img(src='#{followup.contactProfileImageUrl}')
    div.col-md-9.col-xs-5.text-left
      a.btn.btn-primary(href='http://twitter.com/#{followup.contactUsername}', target='_BLANK')         
        strong #{followup.contactUsername} &nbsp;
        span.fa.fa-twitter
    div.col-md-1.col-xs-2
      if(followup.isComplete)
        button.btn.btn-primary.follow-up-unclear
          input(type='hidden', name='followup-id', value='#{followup.id}')
          span.fa.fa-check-square-o            
      else
        button.btn.btn-primary.follow-up-clear
          input(type='hidden', name='followup-id', value='#{followup.id}') 
          span.glyphicon.glyphicon-unchecked
    div.col-md-1.col-xs-2
      a.btn.btn-primary(href='/followups/#{followup.id}/edit') 
        span.glyphicon.glyphicon-edit     
  hr 
  p!=  followup.description.replace(/</g, "&lt;").replace(/>/g, '&gt;').replace(/\n/g, '<br />')
  hr
  br
  p.text-primary #{created_ago}
  br       
  - var action = '/followups/' + followup.id
  form.text-center.form-inline.confirm(action=action, method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    input(type="hidden", name="_method", value="DELETE")
    button.btn.btn-danger(type="submit") Delete Follow-up
  br      
     
  ul.pager
    li.previous 
      a(href="/followups") &larr; &nbsp; Back to Follow-ups &nbsp;
        span.glyphicon.glyphicon-list 

  script.
    mixpanel.track("followup");

  script(src='/javascripts/followup-clear.js', type='text/javascript')    