extends layout

block content
  if(results && results.length)  
    h3 Results for "
      span.text-info #{query}
      | "
    each result in results
      hr
      div.row
        div.col-md-1.col-xs-2
          img(src='#{result.profile_image_url}')
        div.col-md-9.col-xs-7.text-left
          strong #{result.name}
          br
          spna.info #{result.screen_name}
        div.col-md-2.col-xs-2
          if(result.quick_add_link)
            a.btn.btn-primary(href='#{result.quick_add_link}') 
              span.fa.fa-plus &nbsp;
              span.glyphicon.glyphicon-user
          else
            a.btn.btn-danger(href='#{result.contact_link}') 
              span.glyphicon.glyphicon-user                  
  else
    h3 No contact info found for "
      span.text-info #{query}
      | " 
    
  br        
  ul.pager
    li.previous 
      a(href="/sn/search") &larr; &nbsp; New Search

  script.
    mixpanel.track("sn_search_results");
