extends layout

block content
  if(results)  
    h3 Results for "
      span.text-info #{query}
      | "
    each result in results
      hr
      div.row
        div.col-md-1.col-xs-2
          a(href="/contact/add/#{result.screen_name}")
            img(src='#{result.profile_image_url}')
        div.col-md-9.col-xs-7.text-left
          strong #{result.name}
          br
          spna.info #{result.screen_name}
        div.col-md-2.col-xs-2
          a.btn.btn-primary(href='/contact/add/#{result.screen_name}') 
            span.fa.fa-plus &nbsp;
            span.glyphicon.glyphicon-user
        
  else
    h3 No contact info found for #{query} 
    
  br        
  ul.pager
    li.previous 
      a(href="/sn/search") &larr; &nbsp; New Search    